.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 984px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 618px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6px;
  }
}
