.sign-form__link {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

.sign-form__link:hover {
    opacity: 0.5;
    cursor: pointer;
}

.sign-form__link:visited {
    color: #FFFFFF;
}